@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');


body {
    font-family: Arial, sans-serif;
}

h1, h2 {
    text-align: center;
}

.imgRow {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
    max-width: 800px;
    margin: 0 auto;
}

.imgBox {
    text-align: center;
}

.imgBox img {
    max-width: 100%;
    height: auto;
    display: block;
    margin: 0 auto;
}

.myimages {
    display: block;
    margin: 20px auto;
    max-width: 100%;
    height: auto;
}

p{
    text-align: start;
    text-decoration: underline;
    
}